<div class="container-img" >
    <img class="img-fluid" src="/assets/img/Copper-Pipes.jpg"/>
  <div class="left-text">
    <figure class="figure-form">Надійні рішення в ваш дім</figure><a href="#" class="link">
        <div class="button">Дізнатися більше </div>
    </a>
  </div>
  </div>
<div class="main container text-center">
    <h1>Мы надаемо великий вибір робот</h1>
    <div class="block">
        <img src="/assets/img/Boiler-Room.jpg" class="img-fluid img"/>
        <h3>Опалювальне обладнання</h3>
        <p class="text-padding">Ми виконуємо повний монтаж різноманітного опалювального обладнання та підключення його до системи опалення</p>
        <ul class="heat-type list-group rounded-bottom">
            <a class="list-group-item" type="li" routerLink="workRange" routerLinkActive="active">
                <div class="row">
                <div class="col-5">
                <img src="/assets/icons/boiler.png"/>
                </div>
                <h2 class="col-6">Газовий котел</h2> 
                </div>
            </a>
            <a class="list-group-item" type="li" routerLink="workRange" routerLinkActive="active">
             <div class="row">
                <div class="col-5">
                    <img src="/assets/icons/heater.png"/>
                 </div>
                <h2 class="col-6">Електричний котел</h2> 
             </div>  
        </a>
        <a class="list-group-item" type="li" routerLink="workRange" routerLinkActive="active">
            <div class="row">
                <div class="col-5">
                <img src="/assets/icons/solar-panel.png"/>
            </div>
            <h2 class="col-6">Сонячна панель</h2> 
            </div>
        </a>
        </ul>
    </div>
    <div class="block">
        <img src="/assets/img/Plumbing-Exper.jpg" class="img-fluid img"/>
        <h3>Водопостачання</h3>
        <p class="text-padding">Встановлення водного обладнання, розлучення труб каналізації та монтаж водопостачання</p>
        <ul class="heat-type list-group rounded-bottom">
            <a class="list-group-item" type="li" routerLink="/workRange" routerLinkActive="active">
                <div class="row">
                <div class="col-5">
                <img src="/assets/icons/canalization.png"/>
                </div>
                <h2 class="col-6">Каналізація</h2> 
                </div>
            </a>
            <a class="list-group-item" type="li" routerLink="workRange" routerLinkActive="active">
             <div class="row">
                <div class="col-5">
                    <img src="/assets/icons/plumbing.png"/>
                 </div>
                <h2 class="col-6">Водопровід</h2> 
             </div>  
        </a>
        <a class="list-group-item" type="li" routerLink="workRange" routerLinkActive="active">
            <div class="row">
                <div class="col-5">
                <img src="/assets/icons/heated-towel-rail.png"/>
            </div>
            <h2 class="col-6">Встановлення обладнання</h2> 
            </div>
        </a>
        </ul>
    </div>
    <div class="block">
        <img src="/assets/img/Copper-Pipes2.jpg" class="img-fluid img"/>
        <h3>Опалення</h3>
        <p class="text-padding">Встановлення опалювального обладнання, укладання теплої підлоги, підключення радіаторів. Повний запуск та автоматизація системи</p>
        <ul class="heat-type list-group rounded-bottom">
            <a class="list-group-item" type="li" routerLink="workRange" routerLinkActive="active">
                <div class="row">
                <div class="col-5">
                <img src="/assets/icons/underfloor-heating.png"/>
                </div>
                <h2 class="col-6">Тепла підлога</h2> 
                </div>
            </a>
            <a class="list-group-item" type="li" routerLink="workRange" routerLinkActive="active">
             <div class="row">
                <div class="col-5">
                    <img src="/assets/icons/radiator.png"/>
                 </div>
                <h2 class="col-6">Радіаторне опалення</h2> 
             </div>  
        </a>
        <a class="list-group-item" type="li" routerLink="workRange" routerLinkActive="active">
            <div class="row">
                <div class="col-5">
                <img src="/assets/icons/manifold.png"/>
            </div>
            <h2 class="col-6">Обладнання для опалення</h2> 
            </div>
        </a>
        </ul>
    </div>
</div>
<hr>
<div class="block-without-border">
        <h1 class="text-center">Про нас</h1><br>
        <div class="container block-2"><img class="img" src="/assets/img/about-us.jpg"/>
        <p class="text-center">Ми виконуемо монтаж різних сантехнічних систем та обладнання для них. Базуемося як на опаленні та також на повному підключенню до зливу та водопостачанню води ваш дім</p>
        <ul>
            <li>Встановлення опалювального обладнання</li>
            <li>Ремонт обладнання та первірка його ефективності</li>
            <li>Монтаж водного обладнання</li>
            <li>Монтаж зливного обладнання</li>
            <li>Покладка теплої підлоги</li>
            <li>Встановлення важкого опалювального обладнання</li>
        </ul>
        <a class="btn button-type" routerLink="about" routerLinkActive="active">Дізнатися більше</a>
    </div>
</div>
<figure class="figure-block text-center">
    <div class="row blocks">   
    <div class="col">
       <p>+1000</p>
       Монтажів
    </div>
    <div class="col">
        <p>+1250</p>
        Ремонтів
    </div>
    </div>
    <br>
    <div class="row blocks">   
        <div class="col">
           <p>25</p>
           Співробітник
        </div>
        <div class="col">
            <p>15</p>
            Років роботи
        </div>
        </div>
</figure>


