<div class="block-margin-top">
    <div class="container">
        <h1>Контакти</h1>
        <div class="row block-margin-small">
            <div class="col">
                <h5>Контактна інформація</h5>
                <div class="block block-height">
                    <p>Телефон: +380666561282</p>
                    <p>Телефон тех підтримки: +0487038561</p>
                    <p>Електронна почти: cpm@gmail.com</p>
                    <p>Адреса: Одесса, вул Розумовська 22</p>
                </div>
            </div>
            <div class="col centre">
                <h5>Зворотній зв'язок</h5>
                <div class="block block-height">
                    <p>ПІБ</p>
                    <input class="form-control" type="text">
                    <p>Ваш контактний телефон</p>
                    <input class="form-control" type="text">
                    <button class="button">Зв'яжіться зі мною</button>
                </div>
            </div>
        </div>
        <h4>Наші координати</h4>
        <div class="block-margin-small block text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.6815910708447!2d30.7168117!3d46.474814599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6318bedaacbf9%3A0x18fda7fd8e7cf856!2z0YPQuy4g0KDQsNC30YPQvNC-0LLRgdC60LDRjywgMjIsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1656364946848!5m2!1sru!2sua" width="100%" height="450" style="border-radius: 5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <figure class="figure-block">
        <p><a class="link" routerLink="/about" routerLinkActive="active">Про нас</a></p>
        <p><a class="link" routerLink="/" routerLinkActive="active">На головну</a></p>
        <p><a class="link" routerLink="/workRange" routerLinkActive="active">Спектр робіт</a></p>
     </figure>
</div>