<div class="block-margin-top">
    <div class="container">
        <h1>Спектр робіт</h1>
        <img class="img fluid-img" src="/assets/example/plumping.jpg">
        <div class="block-margin-small">
            <p>Мы надаемо багатогранний спектр робіт зі сантехніки.<br> Починаючи з планового
                обслуговування і перевірки системи на ефективність роботи, закінчуючи професійним монтажем промислових
                систем водопостачання та опалення.<br> Використовуемо якісні матеріали в руках професіоналів з
                багатолітнім досвідом монтажу.<br> Надаемо гарантію на нашу роботу та надаемо планові огляди нашим
                клієнтам із спеціальною ціною</p>
            <hr>
            <h4>Нижче представлений спектр пропонованих послуг</h4>
        </div>
        <div class="album py-5 ">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/assets/cards/plumbing.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Послуги сантехніка</h5>
                            <p class="card-text">От 450 грн</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">Дізнатися більше</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/assets/cards/leak.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Усунення протікань</h5>
                            <p class="card-text">От 500 грн</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">Дізнатися більше</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/assets/cards/canalization.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Встановлення зливу</h5>
                            <p class="card-text">От 550 грн</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">Дізнатися більше</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/assets/cards/mixer.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Встановлення сантехніки</h5>
                            <p class="card-text">От 700 грн</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">Дізнатися більше</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/assets/cards/pipe.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Розлучення та монтаж труб</h5>
                            <p class="card-text">От 850 грн</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">Дізнатися більше</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/assets/cards/warm-floor.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Монтаж теплої підлоги</h5>
                            <p class="card-text">От 900 грн</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">Дізнатися більше</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/assets/cards/electric.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Підключення електроники</h5>
                            <p class="card-text">От 900 грн</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">Дізнатися більше</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/assets/cards/heat-pump.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Котельне обладнання </h5>
                            <p class="card-text">От 850 грн</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">Дізнатися більше</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/assets/cards/boiler-room.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Обв'язування котельні</h5>
                            <p class="card-text">От 900 грн</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">Дізнатися більше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <figure class="figure-block">
        <p><a class="link" routerLink="/about" routerLinkActive="active">Про нас</a></p>
        <p><a class="link" routerLink="/contacts" routerLinkActive="active">Контакти</a></p>
        <p><a class="link" routerLink="/" routerLinkActive="active">На головну</a></p>
     </figure>
</div>