<div>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">Neptun</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" id="navbarSupportedContent">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Neptun</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
        <ul class="navbar-nav mx-auto mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active">О компанії</a>  
          </li>
          <hr/>
          <li class="nav-item">
            <a class="nav-link" routerLink="workRange" routerLinkActive="active">Спектр робіт</a>
          </li>
          <hr/>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacts" routerLinkActive="active">Контакти</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
</nav>
</div>