<div class="block-margin-top">
   <h1>Про нашу компанію</h1>
   <div class="container">
    <div class="block">
    <h4>Вас вітає компанія Neptun </h4><br>
        <ul><li>Neptun - компанія, що динамічно розвивається в області/сфері монтажу та встановлення сантехніки в ваш дім під ключ</li><br>
        <li>Ми раді запропонувати вам широкий асортимент сантехнічних товарів різнгого сегменту та спектуру за найвигіднішими цінами зі знижкою.</li><br>
        <li>Ось вже 15 років наша компанія займає впевнені позиції на ринку та надає лише найсучасніші рішення, дозволяючи нашим клієнтам робити замовлення та вести розмову напряму через найбільш зручний спосіб.</li><br>
        <li>За роки успішної роботи компанія Neptun набула безцінного досвіду, про що свідчать приємні відгуки наших клієнтів.</li><br>
        <li>Якщо у Вас виникли питання при оформленні замовлення, Ви завжди можете звернутися до нашого довідкового центру за телефоном або скориставшись онлайн-консультантом на сайті чи написати нам на наші соціальні мережі.</li></ul>
    </div>
    <div class="block-margin text-center">
        <h2>Приклади наших робіт</h2>
        <div class="block">
        <div class="block-margin-small">
            <p>Монтаж та підключення опалювального обладнання</p>
            <img src="/assets/example/montazh-sistemy-otopleniya.jpg" class="img img-fluid"/> 
        </div>
        <div class="block-margin-small">
            <p>Монтаж теплої підлоги</p>
            <img src="/assets/example/radiant-floors.jpg" class="img img-fluid"/> 
        </div>
        <div class="block-margin-small">
            <p>Монтаж радіаторного обладнання</p>
            <img src="/assets/example/radiator.jpg" class="img img-fluid"/> 
        </div>
    </div>
    </div>
 </div>
 <figure class="figure-block">
    <p><a class="link" routerLink="/contacts" routerLinkActive="active">Контакти</a></p>
    <p><a class="link" routerLink="/" routerLinkActive="active">На головну</a></p>
    <p><a class="link" routerLink="/workRange" routerLinkActive="active">Спектр робіт</a></p>
 </figure>
</div>