.block-margin{
    margin-top: 80px;
    margin-bottom: 40px;
}
.block-margin-top{
    margin-top: 80px;
}
.block-margin-small{
    margin-top: 40px;
    margin-bottom: 30px;
}
.block{
    background-color: rgb(33, 24, 23);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}
h1{
    text-align: center;
    margin-left: 40px;
    font-weight: 400;
    font-size: 40px;
}
hr{
    border: dashed 2px rgb(165, 42, 42);
}
h2{
    margin-bottom: 20px;
    font-weight: 400;
}
h4{
    padding-top: 10px;
    font-weight: 400;
    padding-left: 10px;
}
.container{
    margin-top: 40px;
}
.img{
    margin: 20px;
    max-width: 94%;
    margin-bottom: 20px;
    border: solid 1px rgba(165, 42, 42, 0.412);
    border-radius: 10px;
}
.figure-block{
    background-color: rgb(32, 24, 23);
    height:160px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 0px;
}
.link{
    font-weight: 400;
    color: rgb(132, 69, 57);
    text-decoration: none;
    transition: .3s ;  
}
.link:hover{
    color: rgb(173, 73, 53);
    text-decoration: none;
  
}